@import 'variables.less';
@import 'animations.less';

html {
	position:relative;
	min-height:100%;
}
body {
	font-family: 'Lato', sans-serif;
	height:100%;
}
/*::-webkit-scrollbar { 
    display: none; 
}*/

ul li {
	list-style: none;
}


.dark {
	background-color:@dark;
	color:@write-light;
	h1 {
		color:@medium;
	}
	.hub-positioner:before {
		background-color:@dark;
	}
}

.medium-dark {
	background-color:@medium-dark;
	color:@write-light;
	h1 {
		color:@medium;
	}
	.hub-positioner:before {
		background-color:@medium-dark;
	}
}

.medium{
	background-color:@medium;
	color:@write-light;
	h1 {
		color:@medium-dark;
	}
	.hub-positioner:before {
		background-color:@medium;
	}
}

.medium-light {
	background-color:@medium-light;
	color:@write-light;
	h1 {
		color:@light;
	}
	.hub-positioner:before {
		background-color:@medium-light;
		border-color:@write-dark;
	}
}

.light {
	background-color:@light;
	color:@write-dark;
	h1 {
		color:@dark;
	}
	.hub-positioner:before {
		background-color:@light;
		border-color:@write-dark;
	}
}

h3 {
	font-size:17px;
	@media(max-width:349px) {
		font-size:15px;
	}
	@media(min-width:768px) {
		font-size:18px;
	}
}

h2 {
	font-size:18px;
	@media(min-width:768px) {
		font-size:20px;
	}
	@media(min-width:992px) {
		font-size:21px;
	}

}

/* Loading */
body {
	&.load {
		.menu,.section {
			opacity:0;
			animation : opaque 0.8s 3.2s 1 ease-Out forwards;
		}
		#hub {
			opacity:0;
		}
	
		div.loader {
		  position: fixed;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  align-items: center;
		  z-index: 100;
		  opacity:1;
		  transition:opacity 0.5s;
		}
		div.loader p {
		  font-family: 'Helvetica', 'Arial', sans-serif;
		  margin: 1em 0 0 0;
		  font-size: 16px;
		}

		div.logo {
		  box-sizing: border-box;
		  position: absolute;
		  transform: rotate(45deg);
		  
			@media (max-width: 767px) {
				width:70.7px;
				height:70.7px;
			}
			@media (min-width: 768px) {
				width:99px;
				height:99px;
			}
			@media (min-width: 992px) {
				width:127.28px;
				height:127.28px;
			}
			@media (min-width: 1200px) {
				width:155.56px;
				height:155.56px;
			}
		}
		div.logo::before, div.logo::after {
		  z-index: 1;
		  box-sizing: border-box;
		  content: '';
		  position: absolute;
		  border: 4px solid transparent;
		  width: 0;
		  height: 0;
		  animation-timing-function: linear;
		}
		div.logo::before {
		  top: 0;
		  left: 0;
		  animation: border-before 3s 1 linear forwards;
		}

		div.inside {
		  position: absolute;
		  transform: rotate(180deg);
			
			@media (max-width: 767px) {
				top: calc(50% - 24px);
				left: calc(50% - 24px);
				width: 48px;
				height: 48px;
			}
			@media (min-width: 768px) {
				top: calc(50% - 34px);
				left: calc(50% - 34px);
				width: 68px;
				height: 68px;
			}
			@media (min-width: 992px) {
				top: calc(50% - 44px);
				left: calc(50% - 44px);
				width: 88px;
				height: 88px;
			}
			@media (min-width: 1200px) {
				top: calc(50% - 54px);
				left: calc(50% - 54px);
				width: 108px;
				height: 108px;
			}
			
		}

		div.inside::before {
		  z-index: 1;
		  box-sizing: border-box;
		  content: '';
		  position: absolute;
		  border: 3px solid transparent;
		  width: 0;
		  height: 0;
		  animation: border-inside 3s 0.3s 1 linear;
		}
	}
	&.loaded {
		&.load {
			.loader {
				opacity:0;
			}
		}
		.loader {
			display:none;
		}
		#hub {
			opacity:1;
		}
		.section {
			opacity:1;
		}
		.menu {
			opacity:1;
		}
	}
}

/*Menu*/
.menu {
	opacity:0;
	background-color:@dark;
	color:@write-light;
	text-transform:uppercase;
	font-size: 24px;
    padding-bottom: 2px;
	height:70px;
	line-height:70px;
	text-align:center;
	overflow-y:hidden;
	.container {
		@media (max-width: 767px) {
			padding:0px 0px;
		}
		@media (min-width: 768px) {
			width: 100%;
		}
		@media (min-width: 992px) {
			width: 100%;
		}
		@media (min-width: 1200px) {
			width: 100%;
			padding:0 20px 0 20px;
		}
		@media (min-width: 1400px) {
			width: 100%;
			padding:0 20px 0 20px;
		}
		.mobile-section-title {
			display:none;
			@media (max-width: 991px) {
				display:inline-block;
				
			}
			float:left;
			width: calc(100% - 153px);
			@media (min-width: 768px) {
				width: calc(100% - 113px);
				
			}
			text-align:center;
			ul.title-list {
				padding:0px;
				transition:transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0) 0.2s;
				li{
					opacity:0;
					height:70px;
					&.active {
						opacity:1;
					}
					transition: opacity 0.2s ease 0.3s;
				}
			}
		}
		.burger-menu {
			display:none;
			@media (max-width: 991px) {
				display:inline-block;
				float:left;
				line-height: 50px;
				padding:0px 20px;
				margin-top: 26px;
				input
				{
				  display: block;
				  width: 49px;
				  height: 36px;
				  position: absolute;
				  top: 12px;
				  right: 16px;
				  cursor: pointer;
				  opacity: 0; /* hide this */
				  z-index: 101; /* and place it over the hamburger */
				  -webkit-touch-callout: none;
				}
				span {
				  display: block;
				  width: 33px;
				  height: 4px;
				  margin-bottom: 5px;
				  position: relative;
				  
				  background: @write-light;
				  border-radius: 3px;
				  
				  z-index: 100;
				  
				  transform-origin: 4px 0px;
				  
				  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
							  opacity 0.55s ease;
							  
				 &:first-child {
					transform-origin: 0% 0%;
				 }
				 &:nth-last-child(2)
				{
				  transform-origin: 0% 100%;
				}
				 
				}
				input:checked ~ span
				{
				  opacity: 1;
				  transform: rotate(45deg) translate(-2px, -1px);
				  background: @write-light;
				}
				input:checked ~ span:nth-last-child(3)
				{
				  opacity: 0;
				  transform: rotate(0deg) scale(0.2, 0.2);
				}
				input:checked ~ span:nth-last-child(2)
				{
				  transform: rotate(-45deg) translate(0px, -1px);
				}
				input:checked ~ .burger-menu-list-wrapper
				{
				  transform: none;
				}
				.burger-menu-list-wrapper {
				  position: fixed;
				  width: 100%;
						height: 100%;
				  top:70px;
				  right:0px;
				  transform-origin: 0% 0%;
				  transform: translate(0, 100vh);
				  transition: transform 0.5s cubic-bezier(0.77,0,0.05,1.0);
				  
				  .sublayer {
						
						width: 100%;
						height: 100%;
						z-index: 1000;
						background-color: @medium;
						opacity: 0.6;
					}
				  
					.menu-list {
						position:absolute;
						top:0px;
						right:0px;
					  width: 100%;
					  z-index:1500;
					  list-style-type: none;
					  -webkit-font-smoothing: antialiased;
					  /* to stop flickering of text in safari */
					}	
				  
					
				}				
			}
		}
		
		ul.menu-list {
			display:inline-block;
			
			padding:0;
			li {
				display:inline-block;
				padding: 6px 30px;
				@media (max-width: 991px) {
					width:100%;
					display:block;
					background:@light;
					border-bottom:1px solid @dark;
					text-align:right;
					padding-right:35px;
					a {color:@dark;}
				}
				@media (min-width: 768px) {
					padding: 6px 8px;
				}
				@media (min-width: 992px) {
					padding: 6px 6px;
					&:last-child {
						padding-right:0px;
					}
				}
				@media (min-width: 1200px) {
					padding: 6px 18px;
					
				}
				@media (min-width: 1400px) {
					padding: 6px 20px;
				}
			}
		}
		.home {
			float:left;
			@media (max-width: 767px) {
				padding:0px 20px;
				line-height: normal;
				height: 70px;
			}
			opacity:0;
			padding: 0px;
			margin: 0px;
			font-size: 36px;
			transition: opacity 0.4s ease-Out 0s;
			&.scrolling {opacity:1;transition: opacity 1s ease-Out 0.3s;}
			a {
				letter-spacing:-3px;
				font-weight:900;
				span {
					
					font-size: 38px;
					letter-spacing: 0px;
					font-weight: 100;
					text-transform:none;
					&::before {
						content:"";
						width:28px;
						height:28px;
						background:@write-light;
						transform:rotate(45deg);
						display:inline-block;
						margin-right: 18px;
						margin-left:18px;
					}
				}
			}
			
			a.mobile-home {
				line-height: 70px;
				    padding-left: 6px;
					padding-right: 6px;
				&::before {
						content:"";
						width:28px;
						height:28px;
						background:@write-light;
						transform:rotate(45deg);
						display:inline-block;
						
					}
				background-size:100%;
				display:inline-block;
				
			}
			a.desktop-home {
				display:none;
			}
			
			
			@media (min-width: 992px) {
				a.desktop-home {
					display:inline-block;
					vertical-align: top;
					span {
						display:none;
					}
				}
			}
			@media (min-width: 1200px) {
				font-size: 42px;
			}
			@media (min-width: 1400px) {
				a.mobile-home { display:none;}
				a.desktop-home {
					span {
						display:inline;

					}
				}
				
			}
			
		}
	}
	
	&.fixed {
		position:fixed;
		top:0;
		z-index:999999;
		width:100%;
	}
	a, a:link, a:visited, a:hover {
		color:@write-light;
		text-decoration: none;
		letter-spacing: -2px;
	}
	.subtitle {font-size:16px;}
}


/*Hub*/

#hub {
		position:absolute !important;
		transition:clip-path 1s;
		z-index:800;
		width:100%;
		height:100%;
		opacity:0;
		
		span {
			color: @fun;
			font-size:20px;
			border-left:2px solid @light;
			padding-left:15px;
			display:none;
		}
		div.subhub {
			width:100%;
			height:100vh;
		}
	}

/*Title*/
header {
	.title h1 {
		position: absolute;
		display:block;
		font-weight:900;
		word-spacing:15px;
		text-align:right;
		@media (max-width: 767px) {
			width: 100%;
			text-align:center;
			top:auto;
			bottom : calc(50% + 105px);
			right:auto;
			left: 0px;
			margin:0px;
			padding:0px;
			font-size: 28px;
			letter-spacing: -1px;
		}
		@media (min-width: 768px) {
			width: calc(50% - 66px);
			right: calc(50% - 66px);
			top : calc(50% - 110px);
			left: 0px;
			margin:0px;
			padding:0px;
			font-size: 47px;
			letter-spacing: -5px;
		}
		@media (min-width: 992px) {
			width: calc(50% - 120px);
			right: calc(50% - 120px);
			top : calc(50% - 110px);
			left: 0px;
			margin:0px;
			padding:0px;
			font-size: 47px;
			letter-spacing: -5px;
		}
		@media (min-width: 1200px) {
			top: calc(50% - 36px);
			width: calc(50% - 175px);
			right: calc(50% - 175px);
			left: 0px;
			margin:0px;
			padding:0px;
			font-size: 58px;
			line-height:72px;
			letter-spacing: -5px;
		}
		@media (min-width: 1400px) {
			top: calc(50% - 36px);
			right: calc(50% - 210px);
			width: calc(50% - 210px);
			font-size: 66px;
			line-height: 72px;
			padding: 0px;
			margin: 0px;
			/* letter-spacing is causing text to go outside of the box*/
			padding-right:10px;
			font-size:72px;
			letter-spacing:-8px;
		}
	}
	.subtitle {
		position: absolute;
		margin:0px;
		padding:0px;
		letter-spacing: 0px;
		font-weight: 100;
		@media (max-width: 767px) {
			width: 100%;
			text-align:center;
			top : calc(50% + 105px);
			right:auto;
			left: 0px;
			font-size: 34px;
		}
		@media (min-width: 768px) {
			top:auto;
			right:auto;
			bottom:calc(50% - 110px);
			left:calc(50% + 66px);
			width:calc(50% - 66px);
			text-align:left;
			font-size: 54px;
		}
		@media (min-width: 992px) and (max-width:1199px) {
			top:auto;
			right:auto;
			bottom:calc(50% - 110px);
			left:calc(50% + 120px);
			width:calc(50% - 120px);
			text-align:left;
			font-size: 54px;
		}
		@media (min-width: 1200px) {
			top: calc(50% - 36px);
			left: calc(50% + 175px);
			width: calc(50% - 175px);
			font-size: 54px;
			line-height: 72px;
		}
		@media (min-width: 1400px) {
			top: calc(50% - 36px);
			left: calc(50% + 210px);
			width: calc(50% - 210px);
			font-size: 66px;
			line-height: 72px;
		}
	}
	.hub-content {
		background-color:@hub-0;
	}
}

/* Section */
.section{
	opacity:0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:0;
	overflow-y:hidden;
	h1 {
		font-size:280px;
		@media (max-width: 991px) {
			display:none;
		}
	}
	&.medium-light, &.light {
		.line {
			background-color: @write-dark;
		}
		.section-container{
			&.row-2 .row, .row {
				border-color: @write-dark;
				div[class^=col-] {
					border-color: @write-dark;
				}
			}
			.hub-positioner:before {
				border-color: @write-dark;
			}
		}
	}
	.line {
		position:absolute;
		background-color:@write-light;
		&.vertical {
			top:0px;
			left:50%;
			height:100%;
			margin-left:-1px;
			width:2px;
			&.half {
				height:50%;
				@media (max-width: 991px) {
					&.small-xs {
						height:150px;
					}
				}
				@media (min-width:992px) and (max-width: 1199px) {
					&.small-xs {
						height:330px;
					}
				}
				
				&.top{
					top:0px;
				}
				&.bottom{
					bottom:0px;
					top:auto;
				}
				
				&.left{
					@media (min-width: 992px) {
						left:170px;
					}
					@media (min-width: 1200px) {
						left:170px;
					}
					@media (min-width: 1400px) {
						left:275px;
					}
				}
				&.right{
					left:auto;
					@media (min-width: 992px) {
						left:170px;
					}
					@media (min-width: 1200px) {
						left:170px;
					}
					@media (min-width: 1400px) {
						left:275px;
					}
				}
				
			}
		}
		&.horizontal {
			left: 0px;
			top:50%;
			width:100%;
			margin-top:-1px;
			height:2px;
			&.half {
				width:50%;
				&.left{
					left:0px;
				}
				&.right{
					right:0px;
					left:auto;
				}
				&.bottom {
					
				}
			}
		}
		&.horizontal-vertical {
			@media (max-width: 991px) {
				top:0px;
				left:50%;
				height:100%;
				margin-left:-1px;
				width:2px;
				&.half {
					height:50%;
					&.top{
						top:0px;
					}
					&.bottom{
						bottom:0px;
						top:auto;
					}
					&.left{
						left:276px;
					}
					&.right{
						left:auto;
						right:275px;
					}
				}
			}
			@media (min-width: 992px) {
				left: 0px;
				top:50%;
				width:100%;
				margin-top:-1px;
				height:2px;
				&.half {
					width:50%;
					&.left{
						left:0px;
					}
					&.right{
						right:0px;
						left:auto;
					}
					&.bottom {
						
					}
				}
			}
		}
		
	}
	.section-container {
		height:100vh;
		width:100%;
		padding:0px 15px;
		margin:0;
		&.row-1 {
			.row {
				height:100%;
			}
		}
		&.row-2 {
			.row {
				@media(max-width:991px) {
					height:auto;
					min-height:50%;
				}
				height:50%;
				border-top: 1px solid @write-light;
				border-bottom: 1px solid @write-light;
				&:nth-child(1) {
					border-top:none;
				}
				&:nth-child(2) {
					border-bottom:none;
				}
			}
		}
		.row {
			
			&:last-child {border-bottom:none;}
			&:first-child {
				div[class^=col-] {
					padding-top:70px;
				}
			}
			div[class^=col-] {
				height:100%;
				border-right:1px solid @write-light;
				border-left:1px solid @write-light;
				&:first-child {border-left:none;}
				&:last-child {border-right:none;}
				&.section-title {
					@media (max-width: 991px) {
						display:none;
					}
					@media (min-width: 992px) {
						width: 170px;
					}
					@media (min-width: 1400px) {
						width: 275px;
					}
					display:inline-block;
					height:100%;
					
					overflow:hidden;
						h1 {
							position:absolute;
							top:0px;
							left:0px;
							float:left;
							margin:0px;
							@media (min-width: 992px) {
								line-height: 169px;
							}
							@media (min-width: 1400px) {
								line-height:274px;
							}
							font-size:160px;
							writing-mode: tb-rl;
							  writing-mode:vertical-rl;
							  writing-mode:sideways-lr;
							letter-spacing: -18px;
							max-height:100%;
							max-width:100%;
						}
					~.col-section-title:nth-child(2) {
						@media (max-width: 991px) {
							border-left:none;
						}
					}
				}
				&.col-section-title {
					@media (max-width: 991px) {
						&.col-xs-6 {width: 50%;}
						&.col-xs-12 {width: 100%;}
						&:nth-child(2) {
							border-right:none;
						}
					}
					@media (min-width: 992px) {
						&.col-xs-6 {width: calc(50% - 170px);}
						&.col-xs-12 {width: calc(100% - 170px);}
					}
					@media (min-width: 1400px) {
						&.col-xs-6 {width: calc(50% - 275px);}
						&.col-xs-12 {width: calc(100% - 275px);}
					}
				}

			}
			&.subsection {
				div[class^=col-] {
					padding-top:0px;
					border:none;
					height:auto;
					img {
						width:100%;
					}
					.skill-list {
						@media (max-width: 767px) {
							display:none;
						}
					}
				}
			}
			
		}
	}

	&[data-anchor="home"] {
	
	}
	
	&[data-anchor="experiences"] {
		.hub-positioner-wrapper {
			@media (max-width: 767px) {
				top:80px;
			}
			@media (min-width: 768px) {
				top:110px;
			}
			@media (min-width: 992px) {
				top:150px;
			}
			@media (min-width: 1200px) and (max-width: 1399px) {
				top:180px;
			}
			@media (min-width: 1400px) {
				top:220px;
			}
		}
		
		.hub-content {
			background-color:@hub-1;
		}
		.section-container.row-1 {
			.row {
				height:auto;
				min-height:100%;
			}
			.col-xs-12 {
				padding:0px;
			}
		}
		h1 {
			text-align:center;
			padding:0px;
			margin:0px;
			font-size:13vw;
			letter-spacing:1vw;
			line-height:11vw;
			overflow:hidden;
		}
		@media (max-width:767px) {
			.section-container .row.subsection.timeline .timeline-item:nth-child(2) {
				padding-top:0px;
			}
		}
		
		@media (min-width:992px) {
			.section-container .row.subsection.timeline {
				padding-top:30px;
			}
			.section-container .row.subsection.timeline .timeline-item:nth-child(2) {
				padding-top:25px;
			}
		}
	}
	
	&[data-anchor="skills"] {
		@media (max-width: 991px){
			.section-container {
				height:auto;
				padding-bottom:50px;
			}
		}
	
		@media (min-width: 992px){
			.section-container.row-2 .row  {
				min-height:450px;
				div[class^=col-] {
					min-height:450px;
				}
			}
		}
		
	    .relative-hub-positioner {
			position:relative;
			width:100%;
			height:0;
		}
		
		.hub-positioner-wrapper {
			@media (max-width: 767px) {
				top: -50px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				top: -70px;
			}
			@media (min-width: 992px) and (max-width: 1199px){
				top: -90px;
			}
			@media (min-width: 1200px) and (max-width: 1399px) {
				top: -110px;
			}
			@media (min-width: 1400px) {
				top: -110px;
			}
		}
		
		.hub-content {
			background-color:@hub-2;
		}
		
		div[class^=col-].section-title h1 {
			@media (min-width: 992px) {
				padding-top: 40px;
			}
		}
		
		@media (max-width: 767px) {
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:first-child  {
				padding:70px 20px 40px 20px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:first-child {
				padding:40px 20px 0px 20px;
			}
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:nth-child(2) {
				padding:70px 20px 40px 20px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:nth-child(2) {
				padding:40px 20px 0px 20px;
			}
		}
		
		@media (min-width:768px) and (max-width: 991px) {
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:first-child  {
				padding:70px 20px 70px 20px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:first-child {
				padding:70px 20px 0px 20px;
			}
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:nth-child(2) {
				padding:70px 20px 70px 20px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:nth-child(2) {
				padding:70px 20px 0px 20px;
			}
		}
		
		@media (min-width: 992px) {
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:first-child  {
				padding:90px 60px 0px 0px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:first-child {
				padding:60px 60px 0px 0px;
			}
			.section-container.row-2 .row:nth-child(1) div[class^=col-]:nth-child(2) {
				padding:90px 0px 0px 60px;
			}
			.section-container.row-2 .row:nth-child(3) div[class^=col-]:nth-child(2) {
				padding:60px 0px 0px 60px;
			}
		}
		
		.col-section-title {
			.project-slider-wrapper {
				.project-slider {	
					.project-wrapper {
						@media (min-width: 992px) {
							width:calc((100% + 170px) / 3);
						}
						@media (min-width: 1400px) {
							width:calc((100% + 275px) / 3);
						}	
					}
				}
			}
		}
		.project-slider-wrapper {
			.project-slider {	
				.project-wrapper {
					@media (min-width: 992px) {
						min-width:256px;
					}
				}
			}
		}			

	}
	
.project-slider-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0px 0px;
	.project-slider {
		display:flex;
		flex-direction: row-reverse;
		@media (max-width: 991px) {
			flex-direction: column;
		}
		max-width:100%;
		position:absolute;
		top:50%;
		right:40px;
		transform:translateY(-50%);
		.project-wrapper {
			max-height:100%;
			display:inline-block;
			a[data-toggle=collapse] {
				display:inline-block;
				overflow:hidden;
				img {
					position:relative;
					z-index:10;
					filter:grayscale(100%);
					transition:filter 1s, background 1s, transform 0.6s;
					max-width:100%;
					background : @medium-lighter;
				}
				&[aria-expanded=true] {
					img {
						filter:grayscale(50%);
						background : @medium;
						transform: scale(1.1,1.1);
					}
					.expand {
						background:@light;
						span {
							background:@dark;
						}
					}
				}
			}
			
			.panel-collapse {
				position:absolute;
				@media (max-width:991px) {
					position:relative;
				}
				padding:0px 20px;
				@media (max-width:767px) {
					position:relative;
					padding:0px 5px;
				}
				word-break: break-word;
				z-index:25;
				padding-left:5px;
				max-width:450px;
				.project-title {
					text-transform:uppercase;
					margin-bottom:0px;
					margin-top:10px;
				}
				.project-desc {
					margin-top:10px;
				}
				.project-link {
					font-weight:900;
					a {
						color:@light;
					}
				}
				.project-skills {
					font-weight:900;
					color:@medium-light;
					text-transform:uppercase;
				}
				ul {
					background-color: rgba(255, 255, 255, 0.8);
					padding-left:5px;
					li {
						padding-left: 1.5em;
						position: relative;
						&:after {
							content: '';
							height: .4em;
							width: .4em;
							background: @dark;
							display: block;
							position: absolute;
							transform: rotate(45deg);
							top: .5em;
							left: 0;
						}
					}
				}
			}
			.expand {
				width:100%;
				height:40px;
				width:48px;
				padding-top:18px;
				background:@dark;
				opacity:0.8;
				margin-left: calc(50% - 24px);
				margin-top:-40px;
				position:relative;
				z-index:30;
			}
		}
		@media (max-width: 767px) {
			position:static;
			top:auto;
			right:auto;
			transform:none;
			.project-wrapper {
				padding:10px 0px;
			}
		}

		@media (min-width: 768px) {
			position:static;
			top:auto;
			right:auto;
			transform:none;
			
			.project-wrapper {
				padding:20px 10px;
			}
		}
		@media (min-width: 992px){
			.project-wrapper {
				vertical-align:top;
				padding:0px 20px;
				width:calc(100% / 3);
				max-width:210px;
			}
		}
		&.left-align {
			flex-direction:row;
			@media (max-width: 991px) {
				flex-direction: column;
			}
		}
	}
}
	
	&[data-anchor="education"] {
		@media (max-width: 991px) {
			.section-container.row-1 .row {
				height: auto;
				padding-bottom:50px;
				min-height: 100%;
			}
		}
		.hub-positioner-wrapper {
			@media (max-width: 767px) {
				top:80px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				top:100px;
			}
			@media (min-width: 992px) and (max-width: 1199px){
				right:80px;
				left:auto;
			}
			@media (min-width: 1200px) and (max-width: 1399px) {
				right:60px;
				left:auto;
			}
			@media (min-width: 1400px) {
				right:165px;
				left:auto;
			}
		}
		
		.hub-content {
			background-color:@hub-3;
		}
		
		div[class^=col-].section-title h1 {
			@media (min-width: 992px) {
				padding-top: 70px;
			}
		}
		.section-container .row div[class^=col-]:first-child {
			@media (max-width:991px) {
				border-right:none;
			}
			@media (min-width: 992px) {
				padding-top:0px;
			}
		}
				
		
		@media (min-width:768px) and (max-width: 991px) {
			.section-container .row.subsection.timeline {
				padding-top: 240px;
				
				.timeline-item:first-child .right-wrapper:nth-child(2), .timeline-item:first-child .right-wrapper:nth-child(1) {
					padding-left: 35px;
				}
				.timeline-item:first-child .left-wrapper:nth-child(2), .timeline-item:first-child .left-wrapper:nth-child(1) {
					padding-right: 35px;
				}
			}
		}
		
	}
	&[data-anchor="achievements"] {
	
		.hub-positioner-wrapper {
			@media (max-width: 767px) {
				top:20px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				top:40px;
			}
			@media (min-width: 992px) and (max-width: 1199px){
				left:80px;
				right:auto;
				top:calc(50% - 56px);
			}
			@media (min-width: 1200px) and (max-width: 1399px) {
				left:60px;
				right:auto;
				top:calc(50% - 76px);
			}
			@media (min-width: 1400px) {
				left:165px;
				right:auto;
				top:calc(50% - 76px);
			}
		}
		
		.hub-content {
			background-color:@hub-4;
		}
		
		.section-container .row {
			height:100%;
			@media (max-width:991px) {
				border-top:none;
				border-bottom:none;
				height:auto;
				padding-bottom:50px;
				div[class^=col-] {
					.row {
						div[class^=col-] {
							border:none;
							padding-top:120px;
						}
					}
				}
			}
			@media (min-width:992px) {
				div[class^=col-] {
					
					.row {
						position:relative;
						height:100%;
						div[class^=col-] {
							padding-top:0px;
							height:100%;
						}
					}
					&:first-child {
						height:calc(50% + 35px);
						min-height:485px;
						padding-top:0px;
						border-bottom:1px solid @light;
						.row {
							div[class^=col-] {
								padding-top:90px;
								padding-bottom:30px;
								padding-right:150px;
							}
						}				
					}
					&:nth-child(2) {
						height:calc(50% - 35px);
						min-height:415px;
						padding-top:0px;
						.row {
							div[class^=col-] {
							border-bottom:none;
								padding-top:30px;
								padding-bottom:30px;
								padding-left:150px;
							}
						}	
					}
				}
				
				&:first-child {
					.col-xs-6 {
						border-right:none;
						border-left:none;
						&.col-section-title {
							border-right:1px solid;
						}
					}
					
				}
				&:nth-child(2) {
					.col-xs-6 {
						border-right:none;
						border-left:none;
						&.col-section-title {
							border-left:1px solid;
						}
					}
				}
			}
			
			div[class^=col-].section-title {
				border-bottom:1px solid @light;
				h1 {
					@media (min-width: 992px) {
						font-size: 100px;
						padding-top: 60px;
						letter-spacing: -13px;
					}
				}
			} 
			&:nth-child(2) {
				div[class^=col-].section-title {
					border-bottom:none;
					h1 {
						@media (min-width: 992px) {
							padding-top: 40px;
						}
					}
				}
			}
			.project-slider-wrapper .project-slider {
				.project-wrapper {
					img {
						background:none;
					}
					&.active {
						img {
							background:none;
						}
					}
					@media (min-width: 992px) {
						width:auto;
						max-width:none;
						height:100%;
						img {
							max-height:210px;
						}
					}
				}
			} 
		}
	}
	

	
	
	&[data-anchor="contact"] {
		.hub-positioner-wrapper {
			@media (max-width: 767px) {
				top:80px;
			}
			@media (min-width: 768px) and (max-width: 991px) {
				top:130px;
			}
			@media (min-width: 992px) and (max-width: 1199px){
				top:320px;
				left:80px;
			}
			@media (min-width: 1200px) and (max-width: 1399px) {
				left:60px;
				right:auto;
				top: 300px;
			}
			@media (min-width: 1400px) {
				left:165px;
				right:auto;
				top: 300px;
			}
		}
		
		.hub-content {
			background-color:@hub-5;
		}
		
		.section-container .row div[class^=col-] {
			border:none;
		}
		.section-container .row:first-child div[class^=col-] {
			padding-top:0px;
		}
		.section-container {
			height:auto;
		}
		ul {
			margin-top: -12px;
			margin-left: 58px;
			padding-bottom:30px;
			li {
				position:relative;
				&:nth-child(2n) {
					.img-wrapper {
						left:68px;
					}
				}
				.img-wrapper {
					transform:rotate(45deg);
					overflow:hidden;
					width:64px;
					height:64px;
					display:inline-block;
					border: 2px solid @light;
					position:absolute;
					top:-18px;
					img {
						transform:rotate(-45deg);
						width:100%;
						height:100%;
					}
				}
				span {
					height: 70px;
					padding-left:175px;
					font-size:16px;
					display:inline-block;
					a {
						color:@write-light;
					}
					a:visited {
						color:@write-light;
					}
					a:hover {
						color:@write-light;
					}
				}
			}
		}
		@media (max-width:479px) {
			ul {
				margin-top: 220px;
				margin-left: 0px;
				padding-left: 20px;
				li {
					position:relative;
					&:nth-child(2n) {
						.img-wrapper {
							left:-38px;
						}
					}
					.img-wrapper {
						width:64px;
						height:64px;
					}
					span {
						padding-left:100px;
						font-size:14px;
					}
				}
			}
		}
		@media (min-width:480px) and (max-width:767px) {
			ul {
				margin-top: 220px;
				margin-left: 0px;
				padding-left: 20px;
				li {
					position:relative;
					&:nth-child(2n) {
						.img-wrapper {
							left:38px;
						}
					}
					.img-wrapper {
						width:64px;
						height:64px;
					}
					span {
						padding-left:150px;
						font-size:14px;
					}
				}
			}
		}
		@media (min-width:768px) and (max-width:991px) {
			ul {
				margin-top: 300px;
				margin-left: 150px;
				padding-left: 20px;
				li {
					position:relative;
					&:nth-child(2n) {
						.img-wrapper {
							left:68px;
						}
					}
					.img-wrapper {
						width:64px;
						height:64px;
					}
					span {
						padding-left:170px;
						font-size:14px;
					}
				}
			}
		}
		@media (min-width:992px) and (max-width:1199px) {
			ul {
				margin-top: -12px;
				margin-left: 58px;
				padding-left: 20px;
				li {
					position:relative;
					&:nth-child(2n) {
						.img-wrapper {
							left:68px;
						}
					}
					.img-wrapper {
						width:64px;
						height:64px;
					}
					span {
						padding-left:170px;
						font-size:14px;
					}
				}
			}
		}
	}
	.hub-positioner-wrapper {
		position:absolute;
		top:calc(50%);
		left:calc(50%);
		z-index:20;
		
		@media (max-width: 767px) {
			top:calc(50% - 50px);
			left:calc(50% - 50px);
			width:100px;
			height:100px;
		}
		@media (min-width: 768px) {
			top:calc(50% - 70px);
			left:calc(50% - 70px);
			width:140px;
			height:140px;
		}
		@media (min-width: 992px) {
			top:calc(50% - 90px);
			left:calc(50% - 90px);
			width:180px;
			height:180px;
		}
		@media (min-width: 1200px) {
			top:calc(50% - 110px);
			left:calc(50% - 110px);
			width:220px;
			height:220px;
		}
		
		.hub-positioner {
			position:absolute;
			transform:rotate(45deg);
			&:before {
				content:"";
				border:2px @write-light solid;
				width: calc(100% + 12px);
				height: calc(100% + 12px);
				position: absolute;
				top: -6px;
				left: -6px;
			}
			@media (max-width: 767px) {
				top:calc(50% - 35.35px);
				left:calc(50% - 35.35px);
				width:70.7px;
				height:70.7px;
			}
			@media (min-width: 768px) {
				top:calc(50% - 49.5px);
				left:calc(50% - 49.5px);
				width:99px;
				height:99px;
			}
			@media (min-width: 992px) {
				top:calc(50% - 63.64px);
				left:calc(50% - 63.64px);
				width:127.28px;
				height:127.28px;
			}
			@media (min-width: 1200px) {
				top:calc(50% - 77.78px);
				left:calc(50% - 77.78px);
				width:155.56px;
				height:155.56px;
			}
			
			.hub-content {
				width: 100%;
				height: 100%;
				position: absolute;
				padding:20px;
				&.in {
					animation:in 1s 0.4s forwards;
				}	
				span {
					font-size:24px;
					display:block;
					max-height:0;
				}	
			}
			
		}
	}
}

.section .section-container .row.subsection.timeline {
	margin: 0px 0px 50px 0px;
    padding: 75px 0 5px;
	@media (max-width:767px) {
		padding-top:90px;
	}
	@media (min-width: 768px) {
		width: 100%;
		padding-top:0px;
	}
    position: relative;
	.timeline-item {
		min-height:48px;
		
		overflow: hidden;
		position: relative;
		.bullet {
			height: 40px;
			width: 40px;
			left: 50%;
			margin-left: -20px;
			opacity: 1;
			position: absolute;
			top: 48px;
			background: @medium-dark;
			transform: rotate(45deg);
			border-radius: 2px;
			&:before {
				content:"";
				width: 28px;
				height: 28px;
				background: @light;
				position:absolute;
				bottom:0;
				right:0;
			}
			@media(max-width:767px) {
				height: 24px;
				width: 24px;
				left: 50%;
				margin-left: -12px;
				&:before {
					width: 16px;
					height: 16px;
					bottom:0;
					right:0;
				}
			}
		}
		.right-wrapper {
			float: right;
			left: 0;
			text-align: left;
			width: 50%;
			padding-left:50px;
			padding-right:15px;
			a[data-toggle="collapse"] {
				display:flex;
			}
		}
		.left-wrapper {
			width: 50%;
			float: left;
			left: 0;
			text-align: right;
			padding-right:50px;
			padding-left:15px;
			a[data-toggle="collapse"] {
				display:flex;
				flex-direction:row-reverse;
			}
		}
		a, a:hover, a:focus {
			color:@write-light;
			text-decoration:none;
		}
		h2, h3 {
			margin-top:0px;
			margin-bottom:0px;
		}
		.date {
			padding-bottom:8px;
			font-size:13px;
		}
		&:first-child {
			.bullet {
				display:none;
			}
		}
		@media (max-width:767px) {
			padding:50px 0px 25px 0px;
			.bullet {
				top:20px;
			}
			.right-wrapper {
				padding-left:15px;
			}
			.left-wrapper {
				padding-right:15px;
			}
		}
		@media (min-width:768px) {
			.collapse, .collapsing  {
				
					display:block;
					height: auto !important;
				
			}
			.expand {
				display:none;
			}
		
			&:first-child {
				@media (min-width:768px) {
					.right-wrapper:nth-child(2) {
						padding-left:130px;
					}
					.left-wrapper:first-child {
						padding-right:130px;
					}
				}
			}
			padding-top:50px;
			.bullet {
				top:35px;
			}
			.right-wrapper {
				padding-left:35px;
				
			}
			.left-wrapper {
				padding-right:35px;
			}
		}
		
		&:first-child {
			@media (min-width:992px) {
				padding-top:20px;
			}
			@media (min-width:768px) {
				.right-wrapper:nth-child(2),.right-wrapper:nth-child(1) {
					padding-left:110px;
				}
				.left-wrapper:first-child, .left-wrapper:nth-child(2) {
					padding-right:110px;
				}
			}
			@media (min-width:1200px) {
				.right-wrapper:nth-child(2),.right-wrapper:nth-child(1) {
					padding-left:140px;
				}
				.left-wrapper:first-child, .left-wrapper:nth-child(2) {
					padding-right:140px;
				}
			}
		}
		@media (min-width:992px) {
			padding-top:65px;
			.bullet {
				top:48px;
			}
			.right-wrapper {
				padding-left:50px;
			}
			.left-wrapper {
				padding-right:50px;
			}
		}
		
		@media (min-width:1200px) {
		}
		
		@media (min-width:1400px) {
			&:first-child {
				padding-top:5px;
			}
		}
		
		.skills {
			font-weight:900;
			color: @medium-light;
			text-transform:uppercase;
			word-break:break-word;
		}
		
		@media (max-width:767px) {
			.activable {
				&.active{
					.excerpt {
						max-height:300px;
						opacity:1;
					}
					h3:before,h3:after {
						transform:rotate(45deg);
					}
				}
				h3:before, h3:after {
					width: 16px;
					height: 16px;
					border-left:2px solid @write-light;
					border-top: 2px solid @write-light;
					transform:rotate(-135deg);
					transform-origin:25% 25%;
					display:inline-block;
					transition:transform 0.5s;
					position:relative;
					top:5px;
				}
				&.left-wrapper {
					h3:before {
						content:"";
						right:10px;
					}
				}
				&.right-wrapper {
					h3:after {
						content:"";
						left:15px;
					}
				}
				
			}
		}
		
	}
	&.horizontal {
		@media (min-width : 992px) {
			height:100%;
			padding-right:15px;
			padding-left:0px;
			
			.timeline-item {
				height:100%;
				float:right;
				margin-bottom:0px;
				padding-left:0px;
				padding-right:70px;
				padding-top:0px;
				.bullet {
					right:30px;
					top:calc(50% - 18px);
					left:auto;
					transform:rotate(135deg);
				}
				.left-wrapper {
					float:none;
					width:auto;
					text-align:left;
					padding:0;
					height:50%;
					position:relative;
					
					h2 {
						position:absolute;
						bottom:0px;
						padding-bottom:20px;
					}
				}
				.right-wrapper {
					float:none;
					width:auto;
					height:50%;
					text-align:left;
					padding:0;
					position:relative;
					padding-top:20px;
					h3 {
						margin-bottom:0px;
						
					}
					.date {
						padding-bottom:8px;
						font-size:13px;
					}
				}
				&:first-child {
					.right-wrapper {
						padding-right:0px;
					}
					.left-wrapper {
						padding-left:0px;
					}
					
					.right-wrapper:nth-child(2),.right-wrapper:nth-child(1) {
						padding-left:0px;
						height:50%;
					}
					.left-wrapper:first-child, .left-wrapper:nth-child(2) {
						padding-right:0px;
						height:50%;
					}
				}
				
			}
		}
		@media (min-width:1200px) {
			padding-left:20px;
			padding-right:70px;
			.timeline-item {
				padding-right: 80px;
			}
		}
		@media (min-width:1400px) {
			padding-left:50px;
			padding-right:80px;
			.timeline-item {
				padding-right: 90px;
				&:first-child {
					padding-right:0px;
				}
			}
		}
	}
}

.no-padding {
	padding:0px;
}

.panel {
	margin-bottom:none;
	background:none;
	border:none;
	border-radius:0px;
	box-shadow:none;
}

a[data-toggle=collapse] {
	.expand {
		position:relative;
		width:48px;
		padding:10px 13px 0px 13px;
		span:first-child {
			width: 16px;
			height: 2px;
			background: white;
			display: block;
			position: absolute;
			border-radius: 2px;
			transform: rotate(45deg);
			-webkit-transform-origin-x: 50%;
			transition:transform 0.5s;
			right: calc(50% - 2.7px);
		}
		span:last-child {
			width: 16px;
			height: 2px;
			background: white;
			display: block;
			position: absolute;
			border-radius: 2px;
			transform: rotate(-45deg);
			-webkit-transform-origin-x: 50%;
			transition:transform 0.5s;
			left: calc(50% - 2.7px);
		}
	}
	&[aria-expanded=true] {
		.expand {
			span:first-child {
				transform: rotate(-45deg);
			}
			span:last-child {
				transform: rotate(45deg);
			}
		}
	}
}

.visible-responsive {
	display:none;
	@media (max-width:991px) {
		display:block;
	}
}